body {
  text-align: center;
  background-color: rgb(254, 223, 107,0.3);

}

img{
  float:left;
  border:5px solid black;


}
.logo-div{
  display: flex;
  align-items: center;
  background: var(--main-color);
  padding: 1vw;
}

.logo-container{
  width: 10%;
}

.logo-container img{
  width: 100%;
}
div {
  margin-top: 15px;
  margin-left:40px;

}

.tab{
  margin-left: 100px;
}
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  background:rgb(214,173,57);
  padding: 20px;
  width: 1000px;
  height: 700px;
  margin-left: 200px;
}

#rcorners1 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  background:rgb(214,173,57);
  padding: 20px;
  width: 1000px;
  height: 150px;
  margin-left: 200px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

/*
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
*/



.image-section {
  display:flex;
  flex-direction:column;
  justify-content: left;

}

.section-style {
  margin-right: 0px;
  margin-left: 55px;
  width: 800px;
  height: 120px;
  float:right;

}
.section-style1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 55px;
  width: 800px;
  height: 200px;
  float:right;

}

.zoom {
  padding: 0px;
  background-color: green;
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5);
}

.accordion {
  background-color: rgb(214,173,57);
  color: #444;
  cursor: pointer;
  padding: 13px;

  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 15px;
  display: none;
  border-bottom: white;
  overflow: hidden;
}
